body{
   background: radial-gradient(circle, #1e1e2f, #0f0f18);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
input[type="text"] {
    width: 60%;
    padding: 10px;
  
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {

   background: linear-gradient(135deg, #00fff0, #7f5cff);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 50px;
    font-size: 16px;
    outline: none;
}
button:hover {
    background: linear-gradient(135deg, #00c8c8, #5a2bff);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;}
    .movies{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 40px;
    }
.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
   box-shadow: 0 0 20px rgba(0,255,255,0.2);
   box-sizing: border-box;
 
}
h4 h1{
    margin: 10px 0;
    color: #ccc;

}
.card img {
    width: 280px;
    height: 450px;
    object-fit: cover;
    border-radius: 4px;
}
.card p {
    margin: 10px 0 0 0;
    font-weight: bold;
    color: #333;
}